@model IEnumerable<D06_MVCBasic.Models.HangHoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="HangHoa" asp-route-id="@item.MaHh">Sửa</a>
            </td>
        </tr>
}
    </tbody>
</table>
